{% extends 'registration/base.html' %} 
{% block content %}
<section class="bg-gray-100">
  <div class="container mx-auto">
    <div class="flex flex-col justify-center items-center">
      <h1 class="mt-5 mb-3 text-4xl font-bold">Login Success!</h1>
      <p>Dashboard</p>
    </div>
    <div class="flex justify-center items-center mt-3">
      <a href="{% url 'logout' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Logout</a>
    </div>
  </div>
</section>
{% endblock %} 